[submodule "ServerSideRestAPI/rest-server/vendor/github.com/elastic/go-elasticsearch"]
	path = ServerSideRestAPI/rest-server/vendor/github.com/elastic/go-elasticsearch
	url = https://github.com/elastic/go-elasticsearch.git
